.paper-user-confirm {
  background: white;
  padding: 3vh;
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-user-confirm-text {
  font-size: 2vh;
  font-weight: 600;
}

.checkmark {
  margin: 3vh;
}