.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-user-confirm-text {
  font-size: 2vh;
}

.MuiBackdrop-root.user-confirm-modal {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.checkmark {
  margin: 3vh;
}