.paper {
  width: 45vh;
  outline: none;
}

.text-container {
  padding: 5vh;
}

.bwBowl-logo {
  height: 8vh;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-with-bowl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-with-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5vh 0vh;
  justify-content: space-between;
}

.row.counter {
  font-size: 5vh;
}

.column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-evenly;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.giveBowl-logo {
  height: 30vh;
}