.modal-resto {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  touch-action: none;
  justify-content: center;
}

.MuiBackdrop-root {
  opacity: 0.25 !important;
}

.paper-resto-confirm {
  background: white !important;
  width: 45vh;
  outline: none;
}

.text-container {
  padding: 5vh;
}

.bwBowl-logo {
  height: 8vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-with-bowl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.row-with-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5vh 0vh;
  justify-content: space-between;
}

.row.counter {
  font-size: 5vh;
}

.column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: space-evenly;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.giveBowl-logo {
  height: 30vh;
}

