.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(135deg,#a4d092,#63bf9f);
  color: #253C2B;
  height: 9vh;
  margin: 0;
  padding: 0vh 1vh;
}

.menu-btn {
  height: 6vh;
  width: 6vh;
  padding: 1.5vh 0vh;
  color: white;
}
