.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:#93CA99;
  color: #253C2B;
  height: 7vh;
  margin: 0;
  padding: 1vh;
}

.logout-btn {
  height: 6vh;
  width: 6vh;
}
